.balance {
  width: 400px;
  min-width: 400px;
  padding: 0px 40px;

  .one {
    background: rgb(255, 212, 212);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

    .ammount {
      h3 {
        margin-bottom: 10px;
      }
      p {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

    .crypto {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 10px;
      }
    }

    &.eth {
      background: rgb(88, 87, 87);
      box-shadow: 0px 0px 0px 4px rgba(88, 87, 87, 0.5);
    }
    &.usdt {
      background: rgb(13, 147, 95);
      box-shadow: 0px 0px 0px 4px rgba(13, 147, 95, 0.5);
    }
    &.dvf {
      background: rgb(31, 31, 212);
      box-shadow: 0px 0px 0px 4px rgba(31, 31, 212, 0.5);
    }
  }
}
